/* add task */

.add-task-panel {
  position: fixed;
  top: 100px;
  right: 25px;
  width: 40%;
  height: 80%;
  pointer-events: none;
  z-index: 3;
}

.add-task {
  background: var(--color-d4);
  padding: 10px;
  box-shadow: -4px 4px 15px 0px rgba(50, 50, 50, 0.42);
  height: 100%;
  border-radius: 10px;
  position: relative;
  pointer-events: all;
  background: white;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.single,
.double,
.trible {
  width: 95%;
  margin: auto;
}

.single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.double {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.double div {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-task label {
  margin-right: 5px;
}

.single input,
.single select {
  width: 79%;
  padding: 7px;
  border-radius: 5px;
  border: 3px solid var(--border);
}

.double input {
  width: 55%;
  padding: 7px;
  border-radius: 5px;
  border: 3px solid var(--border);
}

.trible input {
  width: 40%;
  padding: 7px;
  border-radius: 5px;
  border: 3px solid var(--border);
}

.trible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trible div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 30%;
}

.trible div input {
  width: 70%;
  align-self: flex-end;
}

.trible div label {
  margin-bottom: 10px;
  margin-left: 10px;
}

.add-task-btns {
  margin-top: 20px;
}

.dependacy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-dependacy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  word-wrap: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 10px auto 0 auto;
}

.show-dependacy i {
  color: var(--color-d2);
  font-size: 15px;
  visibility: hidden;
  margin-left: 10px;
}

.show-dependacy:hover i:only-child {
  visibility: visible;
}

.show-dependacy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  max-height: 200px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*group search */

.assign-users {
  position: relative;
}

.group-search-panel {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 250px;
  height: 500px;
  pointer-events: none;
}
