/*grid*/
.proj-body {
  z-index: 3000;
  position: relative;
}

.check {
  font-size: 25px;
}
.grid-main {
  max-width: 99.5%;
  background: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#table-body {
  display: flex;
  flex-direction: column;
}

.grid-header {
  font-size: 20px;
  font-weight: 600;
}
.grid-header i {
  margin-left: 10px;
  display: none;
}

.additional-col:hover i:only-child {
  display: inline;
}

.proj-body div {
  font-size: 18px;
}
.task-row,
.grid-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d4d4d8;
  min-width: 100%;
}
.grid-main span:not(.task-name, .finish-icon, .task-menu-item) {
  text-align: center;
  min-width: 150px;
  overflow: hidden;
}

.task-name {
  font-size: 18px;
  font-weight: 550;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
}

.task-name section {
  max-width: 80%;
}

.finish-icon {
  min-width: 40px;
  overflow: hidden;
}

.add-task-wrapper {
  margin-left: 50px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 15px 45px;
}

.task-icons {
  position: relative;
}

.task-icons i:not(.task-menu i) {
  display: none;
}

.task-row:hover .task-icons i {
  display: block;
}

.add-task-wrapper div button {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-d2);
}

.add-task-wrapper div i {
  font-size: 20px;
}
.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-wrapper form input {
  padding: 5px;
  font-size: 18px;
  border: 3px solid var(--border);
  border-radius: 5px;
}
.add-task-wrapper form input:focus {
  border: 3px solid var(--green);
}

.add-task-wrapper form button {
  margin-left: 15px;
  font-size: 25px;
  color: var(--color-d2);
}
.add-col-container {
  min-width: 200px;
}
.add-col-container button {
  font-size: 20px;
  font-weight: 580;
  padding: 7px 10px;
}
.add-col-container button:hover {
  color: var(--green);
}

.add-col-container select {
  padding: 5px 15px;
  border: 2px solid var(--border);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 550;
  width: 150px;
  z-index: 2000;
}
.task-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-icons i {
  margin-right: 10px;
}

.dependacy-row {
  position: relative;
  text-align: center;
  min-width: 150px;
}

.grid-dependacy-container {
  width: fit-content;
  padding: 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 0;
  right: 110px;
  z-index: 10000;
}

/*task menu*/

.task-menu {
  position: absolute;
  top: 0;
  right: 20px;
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
  padding: 20px 0;
  z-index: 20000;
}

.task-menu button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.task-menu button:hover {
  background: var(--color-d4);
}

.task-menu button i,
.task-menu-item {
  font-size: 20px;
}
.task-menu-item {
  text-align: left;
  width: 70%;
}
