.users {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.users i {
  font-size: 1.3em;
}

.group-search-container {
  position: absolute;
  top: 10px;
  left: -60px;
  width: 250px;
  padding: 20px 10px;
  pointer-events: none;
  z-index: 20;
}

.group-search-containerv2 {
  position: absolute;
  top: 30px;
  left: -20px;
  width: 250px;
  padding: 20px 10px;
  pointer-events: none;
  z-index: 2;
}

.group-search {
  padding: 20px 10px;
  pointer-events: none;
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  pointer-events: all;
}

.group-search h3,
.group-search input {
  margin-bottom: 10px;
}

.group-search ul {
  width: 100%;
}

.group-search li {
  width: 90%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.group-search li:hover {
  background: #e7e7e7;
}

.group-search li a {
  color: var(--color-d2);
}
