.main-page {
  display: flex;
  flex-direction: column;
}

.add-new-project {
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-project button i {
  margin-right: 10px;
}

.add-new-project button {
  padding: 15px 40px;
  background: var(--color-d3);
  font-size: 20px;
  font-weight: 500;
  border-style: none;
  border-radius: 5px;
  color: white;
}

.favorites {
  max-width: 95%;
}

.fav-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-left: 25px;
}
.fav-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.my-project {
  margin-top: 50px;
  width: 100%;
  overflow-x: auto;
}
.my-projects-btns {
  width: fit-content;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 3px 5px 0 rgba(0, 0, 0, 0.07);
}
.my-projects-btns button {
  padding: 25px 40px;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-d2);
}

.show-btn {
  background: white;
}

.show-projects {
  width: 98.5%;
  min-width: 900px;
  background: white;
  padding: 10px;
  margin-bottom: 50px;
  min-height: 34vh;
  overflow-x: auto;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
}

.show-projects i {
  margin-left: 10px;
  color: var(--color-d2);
  font-size: 25px;
}

.show-projects img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 10px;
}

.show-projects ul li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  border-bottom: 1px solid #333;
}

.show-projects ul li div span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
}
.pagination-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-btns button {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-d1);
  background: white;
}

.pagination-btns button:hover {
  background: var(--color-d4);
  color: #16c79a;
}
