.navigation {
  height: 60px;
  background: #13B28A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
  margin-left: 20px;
  color: white;
}
