.proj-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 50px;
}

.proj-name{
  color: var(--color-d2);
  width: 50%;
  margin: 0 .3em;
  font-size: 2em;
  font-weight: 2em;
}

.main-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2em;
}

.header-links{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-links button {
  margin-right: 2em;
  font-size: 1em;
  font-weight: 2em;
}

.manage {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.group-members {
  position: relative;

}
.group-members button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-members,
.group {
  margin-right: 2em;
}

.group-members button:hover,
.group:hover,
.filters button:hover,
.view-links button:hover {
  color: var(--green);
}

.group-members-panel {
  position: absolute;
  top: 20px;
  left: -50px;
  width: 200px;
  pointer-events: none;
}

.filter{
  width: 50%;
}

.filters {
  position: relative;
}

.filters i {
  font-size: 15px;
  margin-left: 10px;
}

.filters button,
.filter label {
  font-size: 15px;
  font-weight: 550;
  color: var(--color-d2);
  margin-right: 10px;
}

.filter select {
  padding: .5rem .2rem;
  border: 2px solid #d4d3d3;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  width: 10em;

  text-align: left;
}

.users  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.users span{
  font-size: 15px;
  margin: 0 5px;
}

.users i{
  font-size: 20px;
}
/*filter panel */
.filters-panel {
  position: absolute;
  top: 30px;
  left: -105px;
  width: 250px;
  padding: 20px 10px;
  pointer-events: none;
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  background: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.filters-body,
.filters-body div:not(.applied-filter) {
  display: flex;
  flex-direction: column;

  pointer-events: all;
}
.filters-body select {
  width: 95%;
}
.hide-v {
  visibility: hidden;
}
.filters-body div {
  margin-bottom: 20px;
  width: 100%;
}
.filter-options label {
  margin-bottom: 10px;
}

.filters-body label,
.filters-body button {
  margin: 10px 0;
}
.filters-body input {
  width: 50%;
}
.filters-body section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.applied-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 10px;
}

.added-filter {
  color: var(--color-d3);
  font-weight: 550;
}


.status-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}