.timeline {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
}

.changing-date {
  position: absolute;
  top: -30px;
  left: 50%;
}

.timeline-side {
  width: 20%;
  max-width: 20%;
  height: 100%;
  border-left: 1px solid #dfdfdf;
}

.timeline-main {
  width: 80%;
  max-width: 80%;
  height: max-content;
  padding-right: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.timline-task {
  height: 40px;
  border: 1px solid #dfdfdf;
  display: flex;
  position: relative;
  padding: 5px;
}

.bar {
  background: var(--color-d2);
  position: relative;
  z-index: 500;
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.07);
}
.bar-btn {
  pointer-events: all;
}
.empty {
  background: white;
}

.fill {
  background: var(--color-d2);
}

#start {
  position: absolute;
  left: -15px;
  top: 15px;
}

#end {
  position: absolute;
  right: -15px;
  top: 15px;
}

.node {
  height: 100%;
}

.row-grid {
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
}

.compeletion-state {
  position: absolute;
  height: 100%;
  background: #79a3b1;
  top: 0;
  border-radius: 5px;
}
.draw {
  position: absolute;
  top: 20px;
  height: 600px;
  width: 800px;
  z-index: -1;
}
.drawv2 {
  position: absolute;
  bottom: 20px;
  height: 600px;
  width: 800px;
  z-index: -1;
}

.timline-side-task {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 5px;
}
