.user {
  width: 25%;
}
.nav-user {
  width: 150px;
  background: #e7e7de;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 25px;
  border-radius: 25px;

  position: relative;
}
.rm-b {
  background: var(--color-d4);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nav-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-user-details {
  border: none;
  background: #e7e7de;
  margin-right: 10px;
  background: transparent;
  padding: 10px 20px;
}

.nav-user-menu {
  text-align: center;
  width: 150px;
  background: var(--color-d4);
  position: absolute;
  padding: 5px 5px 10px 5px;
  right: 30px;
  margin-top: 5px;
  z-index: 3;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  left: 0;
  top: 50px;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease;
}

.show {
  padding: 10px 0 20px 0;
  height: 80px;
  opacity: 1;
  transform: translateY(0);
}

.nav-user-menu li {
  padding: 10px;
}
.nav-user-menu li a {
  color: #0f3057;
}
.nav-user-menu li:hover {
  background: #f3f3f3;
}

.unsigned-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unsigned-user a {
  color: var(--color-d4);
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}

.unsigned-user a:hover {
  color: #fde8cd;
}

.nav-user i {
  margin-right: 30px;
  font-size: 15px;
  color: var(--color-d2);
  opacity: 0.6;
}
