@import "./styleSheets/navigation.css";
@import "./styleSheets/sidebar.css";
@import "./styleSheets/maniPage.css";
@import "./styleSheets/cards.css";
@import "./styleSheets/project.css";
@import "./styleSheets/userNav.css";
@import "./styleSheets/register.css";
@import "./styleSheets/newproject.css";
@import "./styleSheets/addTask.css";
@import "./styleSheets/addUsers.css";
@import "./styleSheets/grid.css";
@import "./styleSheets/board.css";
@import "./styleSheets/groupSearch.css";
@import "./styleSheets/timline.css";
@import "./styleSheets/status.css";
@import "./styleSheets/spinner.css";
@import "./styleSheets/profile.css";
@import "./styleSheets/editprofile.css";
@import "./styleSheets/assign.css";

:root {
  --color-d1: #222831;
  --color-d2: #30475e;
  --color-d3: #f05454;
  --color-d4: #e8e8e8;
  --green: #16c79a;
  --border: #51adcf;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  background: #f3f9fb;
}

ul {
  list-style: none;
}

a,
i {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  background: transparent;
  border-style: none;
}

a,
li,
button {
  outline: none;
}
.container {
  min-width: 100%;
  margin: auto;
}
.main {
  display: grid;
  grid-template-columns: 60px auto;
  transition: all 150ms ease-in-out;
}
.main-v2 {
  grid-template-columns: 300px auto;
}

.main-section {
  height: auto;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.dragging {
  opacity: 0.7;
}

.hide {
  display: none;
}

.gen-input {
  padding: 5px;
  border: 2px solid var(--border);
  border-radius: 5px;
}
.gen-input:focus {
  border: 2px solid var(--green);
}

@media (max-width: 800px) {
  .new-project {
    width: 80%;
    top: 40%;
  }
  .add-task-panel {
    width: 90%;
    height: 60%;
    top: 20px;
  }
  .task-icons i {
    display: block;
  }
  .profile {
    width: 80%;
  }
  .register {
    width: 100%;
  }

  .unsigned-user a {
    font-size: 15px;
    padding: 10px;
  }
  .main {
    grid-template-columns: 0px auto;
  }
  .sidebar {
    visibility: hidden;
  }
  .edit-profile {
    width: 80%;
    transform: translate(-50%, -80%);
  }
  /* .proj-header h1{
    font-size: 25px;
    font-weight: 600;
  } */
  /* .proj-header{
    margin-bottom: 25px;
  } */
  .timline-btn {
    display: none;
  }

  .filter {
    width: 35%;
  }

  .users {
    width: 65%;
  }

  .filter select:not(#filter-select) {
    font-size: 15px;
    width: fit-content;
    margin-top: 4px;
  }

  .main-links {
    height: 60%;
    padding-right: 10px;
  }

  .header-links {
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: space-between;
  }

  .board {
    flex-direction: column-reverse;
  }
  .board-body {
    width: 98%;
    max-width: 98%;
  }
  .board-bk {
    border-right: none;
    border-top: 2px solid rgb(230, 224, 224);
    padding-top: 10px;
  }
  .add-new-bucket {
    padding-bottom: 10px;
  }
  .task-icons i:not(.task-menu i) {
    display: block;
  }

  .ghuest h3 {
    font-size: 30px;
  }
  .pre-made {
    width: 80%;
  }
  .register-form input {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .add-new-project {
    width: 90%;
  }
  .img-container {
    display: none;
  }
  .register-form {
    width: 100%;
  }
  .login-form {
    width: 100%;
  }
  .register form {
    width: 100%;
  }
  .pre-made {
    width: 80%;
  }
  .main {
    grid-template-columns: 0px auto;
  }
  .register-form input {
    width: 50%;
  }
  .register-form label {
    font-size: 15px;
  }
  .logo {
    font-size: 18px;
    font-weight: 600;
  }
  .ghuest h3 {
    font-size: 25px;
  }
  .ghuest p {
    width: 100%;
  }

  .unsigned-user a {
    font-size: 15px;
    padding: 10px;
  }
  .sidebar {
    visibility: hidden;
  }

  .edit-profile {
    width: 90%;
    transform: translate(-50%, -60%);
  }

  .proj-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 20px;
  }

  .main-links {
    width: 100%;
    margin-bottom: 10px;
  }

  .header-links {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
  }

  .manage {
    width: 100%;
  }

  .filters-panel {
    left: 5px;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 18px;
    font-weight: 600;
  }

  .nav-user {
    width: 100px;
    margin-left: auto;
  }

  .add-new-project button {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 550;
  }

  .fav-body {
    padding: 10px 5px;
  }

  .my-projects-btns button {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
  }

  .edit-profile {
    width: 90%;
    transform: translate(-50%, -60%);
  }

  .profile {
    width: 90%;
  }
  .profile-info div span {
    font-size: 15px;
  }
  .profile-info div span {
    width: 40%;
  }
  .edit-profile input {
    max-width: 60%;
  }
  /* .manage{
    visibility: hidden;
  } */
  .add-new-bucket button {
    padding: 10px 0;
  }
  /*  .main-links {
    width: 100%;
  }
  .view-links{
    margin-left: 50px;
  } */

  .user {
    width: 40%;
    margin-right: 20px;
  }
  .nav-user {
    width: 100%;
  }
}
